* {
	margin: 0;
	padding: 0;
}

body {
	font-family:Verdana, Arial, san-serif;

}
h1 {
	font-size: 35px;
}

h2{
	width: 50%;
	padding: 10px;
	margin: 30px 200px;
}

h3{
	width: 50%;
	padding: 10px;
	margin: 30px 200px;
}

p {
	color: black;
	width: 50%;
	padding: 10px ;
	margin: 30px 200px;

}
.subtitulo {
	color: blue;
}

section {
	margin: 20px 100px;
}

header div {
	background: black;

}


header nav {
	background: white;
	overflow: hidden;
	font-family: Arial;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	padding: 3px 6px;
	display: block;
	color: black;
	text-decoration: none;
}
.linea{
	border-top: 1px solid blue;
	height: 3px;
	max-width: 2000px;
	padding: 0;
	margin: 50px auto 0 auto;
}

